body
{
    margin:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aqua;
  

}

.image-container
{
    text-align: center;
    cursor: pointer;

}

.image-container img
{
    margin: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px  rgba(0, 0, 0, 0.3);


}

.image-container .img:hover
{
    transform: scale(0.5,1);

}

.btn
{
    background-color: slateblue;
    border: none;
    padding: 10px 20px;
    margin: 20px;
    color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.btn:hover
{
    opacity: 0.9;

}